@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Welcome to Inside Pitch, your shop for Baseball and Softball Equipment.</p>
    <p>Put products on this page once you figure out how</p>
</div>
