
@{
    ViewData["Title"] = "Register";
}

<h1>Registration</h1>
<br />
<span class="bg-danger" id="RegisterMessage"></span>

<div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" placeholder="Please enter a username" id="createUsername" />
</div>
<div class="form-group">
    <label for="email">Email:</label>
    <input type="text" class="form-control" placeholder="Please enter your email" id="createEmail" />
</div>
<div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" placeholder="Please enter a password" id="createPassword" />
</div>
<div class="form-group">
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" class="form-control" placeholder="Please confirm your password" id="createConfirmPassword" />
</div>
<br />
<button id="registerButton" type="submit" class="btn btn-primary">Continue</button>
<script src="~/js/site.js"></script>
